body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table {
    border-width: 1px;
}

.card {
    width: 99px;
    height: 136px;
    /* border-radius: 20%; */
    /* background-color: aqua;
    font-size: 24pt; */
}